body{
	font-family: 'Kanit', sans-serif;
}

/*---------------------------------------------------------Top Section-----------------------------------------------------------------------------------*/
.profile{
	padding: 0% 0% 1% 0% ;
	background: #1A120B;
}

.navbar-brand{
    width: 20%;
    background: black;
    color: white;
    padding: 2% 2% 2% 8%;
    font-family: 'Oswald', sans-serif;
}

.navbar-brand:hover{
	background: white;
	color: black;
}

.nav-link{
    color: white;
    background: #5837D0;
    padding: 3% 2%;
    font-size: 1.2rem;
    margin-right: 3%;
}


.nav-link:hover{
	background: #916BBF;
}

.mid-section{
	display: flex;
	padding: 5% 10%;
}

.mid-section-img{
	width: 50%;
}

.mid-sec-profile-img{
	width: -webkit-fill-available;
	border-radius: 3px;
}

.mid-section-text{
	text-align: -webkit-center;
    margin-left: 5%;
    padding-top: 5%;
    color: white;
    width: 100%;
}

.mid-info{
 font-size: 150%;
 margin-bottom: .2rem;
 font-size: 3rem;
}


/*---------------------------------------------------------------------------------Language known section---------------------------------------------------------------*/


.languages-known{
	padding: 8% 4%;
}

.languages-images{
	display: flex;
	padding-top: 3%;
}

.lang-img{
	width: 10.5%;
	margin: 0% 1%;
}


/*-------------------------------------------------------------------------------------Project Build Section-------------------------------------------------------------*/


.projects-build{
	padding: 10%;
	background: black;
	color: white;
}

.projects-title{
	background: #5837D0;
	width: fit-content;
	padding: 1%;
}

.container-img-section{
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .9s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



/*-------------------------------------------------------------------------------- footer text ------------------------------------------------------------------------*/

.footer{
	padding: 3%;
	text-align: center;
}

.footer-text{
	text-decoration: none;
	font-size: 1.3rem;
	margin: 1% 1%;
}






@media screen and (max-width: 800px) {

.mid-info{
 font-size: 100% !important;
}

.mid-info-para{
	font-size: 60%;
}

.mid-section-text{
    padding-top: 0%;
}

}


